@use '../styles/variables.scss';

$max-width-form: 360px;

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 

  &::after {
    content: '';
    position: fixed;
    left: 0;
    bottom: 60;
    width: 432px;
    height: 768px;
    background: url('../assets/blur-asset-purple-dk.svg') no-repeat left bottom;
    background-size: contain;
    z-index: -1;
    pointer-events: none;
  }

  &::before {
    content: '';
    position: fixed;
    right: 0;
    top: 0;
    width: 432px;
    height: 768px;
    background: url('../assets/blur-asset-turquese-dk.svg') no-repeat left bottom;
    background-size: contain;
    z-index: -1;
    pointer-events: none;
  }

  @media screen and (max-width: variables.$breakpoint-desktop) {
    &::after {
      content: '';
      position: fixed;
      left: 0;
      bottom: 160px;
      width: 256px;
      height: 304px;
      background: url('../assets/blur-asset-purple-mb.svg') no-repeat left bottom;
      background-size: contain;
    }

    &::before {
      content: '';
      position: fixed;
      right: 0;
      top: 0;
      width: 352px;
      height: 304px;
      background: url('../assets/blur-asset-turquese-mb.svg') no-repeat right top;
      background-size: contain;
    }
  }

  &__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0 24px;

    .desktop-image{
      display: none;
    }

    @media screen and (min-width: variables.$breakpoint-desktop) {
      .desktop-image{
        display: block;
        max-width: 480px;
        border-radius: 8px;
      }
    } 
  }

  .main-title{
    margin-top: 8px;
  }

  &__tag{
    height: 20px;
    padding: 2px 8px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    vertical-align: middle;
    background: linear-gradient(86.01deg, #00F4E2 0%, #00FF7F 100%);
  }

  &__banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    max-width: $max-width-form;
    margin: auto;

    .mobile-image{
      border-radius: 8px;
    }

    @media screen and (min-width: variables.$breakpoint-desktop) {
      .mobile-image{
        display: none;
      }
    } 
  }

  &__content {
    max-width: $max-width-form;
    margin: auto;
  }

  &__description {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-bottom: 16px;
  }

  &__divider {
    max-width: $max-width-form;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__form-checkbox {
    accent-color: variables.$primary-color;
    display: flex;
    align-items: center;
    gap: 8px;

    input[type="checkbox"] {
      width: 20px;
      aspect-ratio: 1;
    }
  }

  a {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-decoration: underline;
    text-decoration-style: solid;
    color: variables.$primary-color;
  }

  &__form-button {
    all: unset;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    padding: 20px 40px;
    margin-top: 24px;
    border-radius: 40px;
    color: #FFF;
    background-color: variables.$primary-color;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-align: center;
  }

  &__form-error{
    color: red;
  }
}

@media screen and (min-width: variables.$breakpoint-desktop) {
  .home {
    &__divider {
      display: none;
    }

    .main-title {
      text-align: left;
    }
  }
}