@use './styles/variables.scss';

body {
  font-family: "Lato", sans-serif;
  color: variables.$primary-color;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

p, ul {
  margin: 0;
}

.owner-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

@media (min-width: 1024px) {
  .owner-card-container {
    gap: 32px;
  }
}

.plans-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}
